:root{
  --main-transition: .3s;
  --second-color:  #fb26d0;
  --main-color:blueviolet;
  --main-tanslateY-btn: translateY(-3px);
  --main-text-shadow: 1px 1px 5px #0000005b ;
  --bkg-image: radial-gradient( circle 941px at 2.6% 6.8%,  rgba(124,74,228,0.81) 15.9%, rgb(167 188 151));
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  font-family:  Poppins,'Righteous',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Start Globals */
.main-header{
  width: fit-content;
  margin: 0 auto;
  text-align :center;
  margin-bottom: 50px;
  color: #9a84d1;
  letter-spacing: 1.5px;
  text-shadow: 2px 1px 2px #d7d7d7e3;
  font-size: 60px;
}
button:focus,input:focus,textarea:focus{
  outline: none;
}
.container{
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}

@media(min-width:767px){
  .container{
    width: 750px;
  }
}
@media(min-width:992px){
  .container{
    width: 970px;
  }
}
@media(min-width:1200px){
  .container{
    width: 1170px;
  }
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
/* End globals */

/* START HEADER */
header{
  background-image:var(--bkg-image);
  padding: 20px 0;
  min-height: 60px;
  height: 70px;
  transition: var(--main-transition);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header h1 {
  margin: 0;
  font-size: 34px;
  color: #fff;
  letter-spacing: .5px;
  text-shadow: var(--main-text-shadow);
  z-index: 10;
}
header h1 a{
  color: #fff;
}

@media(max-width:767px){
  header .container i {
    display: flex;
    z-index: 10;
  } 
} 
.links{
  display: none;
}
.line{
  width: 22px;
  padding: 2px;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 5px;
}


@media(max-width:767px){
  header .container .links {
    display: flex;
    flex-direction: column;
    z-index: 10;
  } 
}

header .container ul.navbar{
display: flex;
align-items: center;
gap: 30px;
}
@media(max-width:767px){
  header .container ul.navbar {
    display: none;
  } 
}
header .container ul.navbar li{
  margin-right: 10px;
}
header .container ul.navbar li a{
  display: block;
  position: relative;
  color: #fff;
  padding: 0 0 5px;
  border-radius: 20px;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: var(--main-text-shadow);
}
header .container ul.navbar li a::after{
  content: "";
  position: absolute;
  width: 0;height: 4px; 
  background-image:  var(--bkg-image);
  border-radius: 6px;
  left: 1.5px;
  bottom: 0;
  transition: var(--main-transition);
}
header .container ul.navbar li.active a::after{
  width: 100%;
}
header .container ul.navbar li a:hover::after{
  width: 50%;
}
header .container ul.navbar li a:focus::after{
  width: 100%;
}

/* END HEADER */

/* START LANDING */
.landing{
  position: relative;
  background-image:var(--bkg-image);
  z-index: 1;
  height:calc(100vh - 70px);
}
.landing .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 70px);
}
@media(max-width:991px){
  .landing .container {
    justify-content: center;
  }
}
@media(max-width:767px){
  .landing .container {
    align-items: flex-start;
    padding-top: 100px;
  }
}
.landing .container .image img{
  position: relative;
  width: 490px;
  animation: up-and-down 5s linear infinite;
  max-width: 100%;
}
@media(max-width:991px){
  .landing .container .image img{
    display: none;
  }
}
.landing .container .info{
  color: #fff;
}
@media(max-width:991px){
  .landing .container .info{
    text-align: center;
  }
}
.landing .container .info h2{
  font-size: 60px;
  text-shadow: var(--main-text-shadow);
  margin-bottom: 25px;
  position: relative;
  left: -5px;
}
.landing .container .info h3{
  font-size: 25px;
  margin-bottom: 5px;
  text-shadow: var(--main-text-shadow);
}
.landing .container .info p{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom:20px;
  letter-spacing: 0.5px;
  max-width: 510px;
  text-shadow: var(--main-text-shadow);
}
@media(max-width:991px){
  .landing .container .info p{
    letter-spacing: 0;
  }
}
@media(max-width:991px){
  .landing .container .info p{
    margin:0 auto 20px;
    padding: 0 25px;
  }
}
@media(max-width:767px){
  .landing .container .info p{
    padding: 0;
  }
}
@media(max-width:991px){
  .landing .container .info .btn{
    justify-content: center;
  }
}
.landing .container .info .btn{
  display: flex;
  align-items: center;

}
.landing .container .info .btn a:first-of-type{
  margin-right: 20px;
}
.landing .container .info .btn a{
  display: block;
  width: fit-content;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 9px 30px;
  transition: var(--main-transition);
  box-shadow: 1px 1px 8px 0px #605656b5;
  text-shadow: var(--main-text-shadow);

}
.landing .container .info .btn a:hover{
  transform: var(--main-tanslateY-btn);
}
.landing .container .info .btn a:first-of-type{
  background-color:  var(--second-color);
}
.landing .container .info .btn a:hover{
  background-color:  var(--second-color); ;
}

/* END LANDING */

/* ANIMATION */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -40px;
  }
}

/*START WORKS */
.works{
  padding-top: 100px;
  padding-bottom: 50px;
  overflow: hidden;
  background-color: #fff;
}

.works .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 30px;
}
.works .container .box{
  background-color: #fff;
  border-radius: 3px;
  transition: .3s;
  width: 100%;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  overflow: hidden;
  max-height: 500px;
}
.works .container .box img{
  width: 100%;
  height: 100%;
}
.works .container .box:hover{
  transform: translateY(-8px) scale(1.02);
    box-shadow: 1px 2px 9px #33333370;
}
/* END WORKS */

/* START CONTACT-ME */
.contact-me .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.socail{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.socail a{
  box-shadow: 1px 2px 8px 0px #d2d2d2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}
.socail a:hover{
  transform: var(--main-tanslateY-btn);
}
.socail a.fb{
  background-color: #4267B2;
}
.socail a.inst{
  background-color: #ff00b6;
}
.socail a.linkedIn{
  background-color: #0077B5;
}
.contact-me h1{
    margin-top: 40px;
    margin-bottom: 20px;
  }
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin: auto;
  padding-bottom: 50px;
}
form input, form textarea{
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 1px 2px 4px 0px #d2d2d2;
}
form textarea{
  height: 150px;
}
form button{
  width: 130px;
  margin:auto ;
  margin-top: 15px;
  padding: 10px;
  border-radius: 13px;
  border: none;
  background-image: var(--bkg-image);
  text-shadow: var(--main-text-shadow);
  box-shadow: 2px 4px 6px #c1b7b7;
  transition: .3s;
}
form button:hover{
  transform:var(--main-tanslateY-btn);
}
form button a{
  color: #fff;
}
/* END CONTACT-ME */

/* START JS cLASSES */
.phone-menu{
  display: flex !important;
  flex-direction: column;
  z-index: 5;
  position: fixed;
  right: 0;
  top: 0;
  background: var(--bkg-image);
  width: calc(100%);
  height: 100%;
  justify-content: center;
}

.header-onscroll-effect{
  padding: 10px;
  height: 60px;
  box-shadow: 0px 2px 12px #4d4949;
}
/*START PAGES TRANSITION ANIMATION */

.animate-in {
  -webkit-animation: fadeIn .5s ease-in;
  animation: fadeIn .5s ease-in;
}
.animate-out {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/*END PAGES TRANSITION ANIMATION */
